* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  padding: 8px;
}
button > label {
  padding: 8px;
  cursor: pointer;
}
.modal {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-duration: opacity visibility;
}
.modal .modal-overlay {
  position: absolute;
  inset: 0;
  background: #00000069;
  cursor: pointer;
}
.modal .modal-dialog {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.modal .modal-dialog .modal-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.modal .modal-dialog .modal-header h2 {
  display: inline-block;
  padding-bottom: 12px;
}
.modal .modal-dialog .modal-header .close-btn {
  float: right;
  font-size: 24px;
  font-weight: 500;
  padding: 0px 8px 8px;
  cursor: pointer;
}
.modal .modal-dialog .modal-header .close-btn:hover {
  color: red;
}
.modal .modal-dialog .modal-header .close-btn::after {
  content: "";
  display: block;
  clear: both;
}

#modal-toggle:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
