* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 600px;
  height: 600px;
  margin: 150px auto;
  position: relative;
}

.box #user-name {
  padding: 10px 10px;
  border: 2px solid gray;
  border-radius: 5px;
  transition: border 0.4s ease;
  position: absolute;
}

.box span {
  position: absolute;
  top: 12px;
  left: 10px;
  padding-inline: 2px;
  background: #fff;
  color: gray;
  font-size: 12px;
  transition: 0.4s ease;
  transition-property: top, color;
  user-select: none;
}

#user-name:focus {
  border: 2px solid purple;
}

#user-name:focus + span {
  top: -7px;
  color: purple;
}

#user-name:not(:placeholder-shown) + span {
  top: -7px;
}
