*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

/* pocket-computer BEGIN */

#pocket-computer-main {
  width: 250px;
  height: 250px;
  border: 1px solid #333;
  border-radius: 16px;
  background-color: #ccc;
  margin-top: 32px;
  padding: 16px;
}

#pocket-computer-main #result {
  width: 100%;
  height: 60px;
  text-align: right;
  padding: 8px;
  font-size: 24px;
  border-radius: 0;
  border-width: 1px;
  border-bottom-width: 0px;
}
/* giảm khoảng cách giữa các input */
#pocket-computer-keypad {
  font-size: 0;
  border: 0.5px solid #333;
  
}

#pocket-computer-keypad input {
  width: 25%;
  height: 40px;
  text-align: center;
  border: 0.5px solid #333;
  background-color: rgb(145, 182, 194);
  font-weight: bold;
  text-align: center;
}

/* pocket-computer END */

