*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

/* login-form BEGIN */

#login-form {
  width: 400px;
  height: auto;
  background-color: lightgray;
  padding: 16px;
  margin: 100px auto;
}

label,input,select, span, .role-list, .sso-list {
  display: inline-block;
}

label  {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.login-form-info .city {
    padding: 3px 0;
}

.login-form-info input, #login-form select {
  height: 40px;
  float: right;
}

.login-form-info input {
  width: 240px;
}

#login-form select {
  width: 140px;
  margin-right: 100px;
}

.your-role label {
  vertical-align: top;
  padding-top: 18px;
}

.sign-on {
  margin-top: 16px;
}

.sign-on label {
  vertical-align: top;
  padding-top: 8px;
}

.login-form-action {
  text-align: center;
  margin-top: 16px;
}

/* login-form END */
