* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  width: 1000px;
  margin: 100px auto;
  border: 1px solid #aaa;
  text-align: center;
}

.layout h1 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.layout__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  column-gap: 2%;
  margin-top: 40px;
  padding: 20px 60px;
}

.layout__container .layout__item {
  position: relative;

  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px 0 #aaa;
  text-align: center;
}
/* .layout__container .layout__item .icon {
  width: 64px;
  height: 64px;
  margin-right: 0;
  margin-top: 10px;
  border: 1px solid orange;
  border-radius: 50%;

}
.layout__container .layout__item .icon::before {
  display: block;
  margin-top: 33%;
  color: orange;
  font-size: 20px;
}

.layout__container .layout__item h2 {
  margin: 24px 0;
} */
.layout__container .layout__item  button {
  margin: 24px 0px 12px;
  padding: 10px 20px;
  background-color: darkorange;
  color: #f1f1f1;
  border: none;
  
}
.layout__container .layout__item  button:hover {
  background-color: #ffa50098;
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}
.layout__container .layout__item .icon {
  display: block;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  border: 1px solid orange;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
}

.layout__container .layout__item .icon::before {
  display: block;
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  color: orange;
}

.layout__container .layout__item h2 {
  margin: 96px 0 24px;
}