/* @media screen and (max-width: 1500.98px) {
  .container .container-decorate {
    display: none;
  }

  .container .container-info {
    left: 6%;
  }

  .container .container-info .container-info-desc {
    margin-top: 10px;
  }

  .container .container-info .btn-change {
    margin-top: 40px;
  }

  .container .container-form {
    right: 80px;
  }
}

@media screen and (max-width: 1365.98px) {
  .container {
    padding: 80px 0 100px;
    position: static;
    height: 1200px;
  }

  .container .container-info {
    position: static;
    width: 100%;
  }

  .container .container-info .container-info-desc {
    display: none;
  }

  .container .container-form {
    position: static;
    margin-top: 80px;
    width: 100%;
  }

  .container .container-form .form-login {
    margin: 0 auto;
    position: static;
    display: block;
  }

  .container .container-form .form-box .form-box-decorate {
    display: none;
  }
}

@media screen and (max-width: 600.98px) {
  .container .container-form .form-box {
    width: 90%;
  }
}

@media screen and (max-width: 500.98px) {
  .container .container-info .container-info-title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .container .container-info .btn-change {
    width: 90%;
    margin: 20px auto 0;
  }

  .container .container-form .form-box {
    padding: 40px 32px;
  }
} */

@media screen and (max-width: 1500.98px) {
  .container .container-decorate {
    display: none;
  }

  .container .container-info {
    left: 6%;
  }

  .container .container-info .container-info-desc {
    margin-top: 10px;
  }

  .container .container-info .btn-change {
    margin-top: 40px;
  }

  .container .container-form {
    right: 80px;
  }
}

@media screen and (max-width: 1365.98px) {
  .container {
    padding: 80px 0 100px;
    position: static;
  }

  .container .container-info {
    position: static;
    width: 100%;
  }

  .container .container-info .container-info-desc {
    display: none;
  }

  .container .container-form {
    position: static;
    margin-top: 80px;
    width: 100%;
  }

  .container .container-form .form-box {
    margin: 0 auto;
    position: static;
    display: block;
  }

  .container .container-form .form-box .form-box-decorate {
    display: none;
  }
}

@media screen and (max-width: 600.98px) {
  .container .container-form .form-box {
    width: 90%;
  }
}

@media screen and (max-width: 500.98px) {
  .container .container-info .container-info-title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .container .container-info .btn-change {
    width: 90%;
    margin: 20px auto 0;
  }

  .container .container-form .form-box {
    padding: 40px 32px;
  }
}
