*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}
/* Signup form BEGIN */
#signup-form {
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 16px;
}
/* Header-form BEGIN */
.header-form {
  margin-bottom: 32px;
}
.header-form h1 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #333;
}
.header-form p {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}
/* Header-form END */

/* Main-form BEGIN */
.main-form {
  margin-bottom: 16px;
}

.content-left,.content-right {
  display: inline-block;
  
}
/* content-left begin */
.content-left {
  width: 48%;
}

.content-left .content-item {
  margin-bottom: 16px;
}

.content-left .content-item label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.content-left .content-item input {
  margin-top: 4px;
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
}
/* content-left end */
/* content-right begin */
.content-right {
  width: 48%;
  float: right;
}

.content-right .content-item {
  margin-bottom: 16px;
}

.content-right .content-item label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.content-right .content-item span {
  color: #757575;
}

.content-right .content-item input {
  margin-top: 4px;
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
}

.content-right .content-item select {
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
}
/* content-right end */
/* Main-form END */

#submit-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: rgb(34, 117, 34);
  color: #fff;
}
/* Signup form END */

/* pocket-computer BEGIN */

#pocket-computer-main {
  width: 250px;
  height: 250px;
  border: 1px solid #333;
  border-radius: 16px;
  background-color: #ccc;
  margin-top: 32px;
  padding: 16px;
}

#pocket-computer-main #result {
  width: 100%;
  height: 60px;
  text-align: right;
  padding: 8px;
  font-size: 24px;
  border-radius: 0;
  border-width: 1px;
  border-bottom-width: 0px;
}
/* giảm khoảng cách giữa các input */
#pocket-computer-keypad {
  font-size: 0;
  border: 0.5px solid #333;
  
}

#pocket-computer-keypad input {
  width: 25%;
  height: 40px;
  text-align: center;
  border: 0.5px solid #333;
  background-color: rgb(145, 182, 194);
  font-weight: bold;
  text-align: center;
}

/* pocket-computer END */

/* login-form BEGIN */

#login-form {
  width: 400px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #a7a3a3;
  padding: 16px;
}

#login-form-main {
  margin-bottom: 16px;

}

#login-form-main .login-form-info div {
  height: 36px;
  margin-bottom: 10px;
}
#login-form-main > label {
  display: inline-block;
  font-size: 16px;
  color: #333;


}

#login-form-main .login-form-info input {
  display: inline-block;
  float: right;
  width: 60%;
  height: 24px;
  margin-bottom: 1px;

}

#login-form-main .login-form-info select {
  display: inline-block;
  width: 40%;
  height: 24px;
  margin-top: 8px;
  margin-left: 66px;
}
.your-role {
  height: 80px;
  margin-bottom: 10px;
}
.your-role label {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.your-role  .role-list {
  display: inline-block;
  margin-left: 46px;
}

.sign-on {
  height: 80px;
  margin-bottom: 10px;
}
.sign-on label {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.sign-on  .sso-list {
  display: inline-block;
  margin-left: 30px;
}

.login-form-action {
  text-align: center;
}

.login-form-action .action-btn {
  padding: 4px;
}
/* login-form END */
